{% comment %} button tags {% endcomment %}
{% comment %} {% if 'prominent' in attrs.tags %}
    {% if 'login' in attrs.tags %}
        .aa-btn-login {
            background: #00FFAB;
            color: #000;
            border: none;
            padding: 10px 20px;
            font-size: 1.2em;
            font-weight: bold;
            border-radius: 8px;
            cursor: pointer;
            transition: background 0.3s ease;
        }
        .aa-btn-login:hover {
            background: #00e699 ;
        }
    {% endif %}
{% endif %} {% endcomment %}
