/* Buttons */ /* Buttons */ /* Buttons */ /* Buttons */ /* Buttons */
.aa-btn {
    font-family: inherit;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}

/* Variantes por tag */
.aa-btn-prominent {
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.aa-btn-login {
    background: #2C2C2C;
    color: #FFFFFF;
    font-weight: bold;
}
.aa-btn-login:hover {
    background: #1A1A1A;
    border-color: #00FFAB;
}

.aa-btn-danger {
    background: #dc3545;
    color: white;
}
.aa-btn-danger:hover {
    background: #c82333;
}

.aa-btn-success {
    background: #28a745;
    color: white;
}
.aa-btn-success:hover {
    background: #218838;
}

.aa-btn-secondary {
    background: #6c757d;
    color: white;
}
.aa-btn-secondary:hover {
    background: #5a6268;
}
/* Buttons */ /* Buttons */ /* Buttons */ /* Buttons */ /* Buttons */

/* Input */ /* Input */ /* Input */ /* Input */ /* Input */
.form-control {
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    padding: 0.5rem 0.75rem;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
}
.form-control-prominent {
    border-color: #00FFAB;
    background-color: #1a1a1a;
    color: #fff;
}
.form-control-login {
    border-color: #00FFAB;
}


/* Input */ /* Input */ /* Input */ /* Input */ /* Input */