{% extends "base.html" %}
{% load static %}
{% block title %}Sinekys - Tu aprendizaje tiende a infinito!{% endblock %}
{% comment %} {% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %} {% endcomment %}
{% block content %}
    <body>
        <div class="container">
            <h1>Sinekys</h1>
            <h2>Tu aprendizaje tiende a infinito!</h2>
            <p>Sinekys es una plataforma educativa enfocada en los estudiantes
                que buscan una mejora en su desempeño académico a través de
                la práctica personalizada.</p>
        </div>
    </body>
{% endblock%}